* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: rgb(10, 42, 68);
}

.mainWindow{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 720px;
}

.app {
    display: flex;
    width: 1200px;
    height: 580px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
}